.avatar-placeholder {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 20px;
}

.avatar-placeholder + h1 {
    display:inline-block;
    vertical-align: top;
}

.profileRows > div {
    padding: 20px;
    box-sizing: border-box;
}

.profileRows > div:nth-of-type(odd){
    background-color: #f9f9f9;
}

.provider-list {
    margin-top: 20px;
    box-sizing: border-box;
}

.provider-list > div {
    display: inline-block;
    width: calc(25% - 10px);
    border:1px solid #ccc;
    margin:5px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    padding:10px;
    text-align: center;
}

.provider-logo {
    height:40px;
}